.navigation{
    width: 400px;
    background-image: url(../images/trianglify.svg);
    position: fixed;
    top: 70px;
    bottom:0;
    z-index: 10;
}

body{
    background-color: rgb(242, 242, 242)
}

.particulars{
    /* width: 100%; */
    /* height: 2000px; */
    padding: 30px 50px;
    /* background-color: beige; */
    margin-left: 400px;
    margin-top: 70px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* flex-wrap:wrap; */
}

.seek{
    height: 70px;
    /* background-color: rgb(55, 55, 55); */
    text-align: center;
    line-height: 70px;
}

.seek input{
    width: 180px;
    height: 30px;
    border: 0px;
    border-radius:5px 0 0 5px;
    padding: 0 10px;
    color: rgb(213, 213, 213);
    background-color: rgb(100, 100, 100);
}

input::-webkit-input-placeholder {
    color: rgb(213, 213, 213);
}

.navigation button{
    margin-left: -5px;
    height: 30px;
    background-color: rgb(50, 50, 50);
    border: 0px;
    border-radius: 0 5px 5px 0;
    padding: 0 15px;
    color: rgb(127, 127, 127);
}

.classify-equipment{
    /* height: 200px; */
    /* background-color: darksalmon; */
    padding: 10px;
    margin-top: 20px;
    color: rgb(70, 70, 70)
}

.classify-equipment p{
    /* background-color: aqua; */
}

.detailed-equipment{
    display: inline-block;
    background-color: rgb(60, 60, 60);
    padding: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 5px;
    
}

.detailed-equipment a{
    text-decoration: none;
    color: rgb(213, 213, 213)
}

.detailed-equipment:hover{
    background-color: rgb(50, 50, 50);
}

.class-diagram{
    margin-right: 50px;
    float: left;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    transform: translateZ(0);
    transition-duration: .3s;
}

.class-diagram:hover{
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.class-diagram img{
    width: 300px;
    height: 200px;
}

.clear{
    clear: both;
}

#app{
    min-width: 1220px;
}

.class-diagram p{
    padding-bottom: 5px;
}

.class-diagram span{
    margin-right: 5px;
    color: rgb(153, 153, 153);
    font-size: 14px
}