body{
    width: 100%;
    background-color: rgb(250, 250, 250)
}

.title{
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.title-one{
    /* background-color: aqua; */
    height: 50px;
    text-align: center;
}

.classify{
    width: 100%;
    position: relative;
    margin-top: 25px;
}

.classify-one{
    text-align: center;
    /* background-color: chocolate; */
}

.bg{
    /* background-color: rgb(255, 255, 255); */

}

.classify-one ul li{
    /* background-color: aqua; */
    margin-right: 30px;
    list-style: none;
    display: inline-block;
    font-size: 18px;
    /* font-weight: 600 */
}

.details{
    width: 100%;
    margin-top: 50px;
}

.details-one{
    /* background-color: rgb(255, 255, 255); */
    padding: 20px;
    text-align: center
}
