.element::-webkit-scrollbar { width: 0 !important }
*{
    margin: 0px;
    padding: 0px;
}
  .bg-purple {
  }
  .bg-purple-light {
    background: #e5e9f2;
    height: 50px;
  }
  #app{
      overflow: hidden;
  }
  .asdie{
    height: 100vh;
  }

