*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
/* 背景图填充 */
.index-bg{
    height: 1000px;
    width: 1920px;
    position: fixed;
    background-image: url(../images/index.jpg);
    background-size:cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-headline{
    width: 1200px;
    height: 400px;
    margin: 0 360px;
    /* background-color: aqua; */
    text-align: center;
    
}

.index-headline h1{
    font-size: 100px;
    color: #fff;
    font-weight: 400;
    font-family:'DuanNing-XIng14007715ea1dd64';
}

/* 导航部分样式 */
nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    background-color: black
}

.nav-header{
    height: 45px;
    padding-top: 25px; 
}

.one{
    /* background-color: aqua; */
    padding-left: 25px;
}

.two{
    /* background-color: cornflowerblue; */
    padding-right: 100px;
    text-align: right;
    line-height: 45px;
}

.two ul li{
    display: inline-block;
    margin: 0 5px
}

.two ul li a{
    color: #fff;
    text-decoration: none;
}

/* 主体内容 */
.index-lucency{
width: 100%;
height: 1000px;
position: relative
}

.index-one{
    /* height: 1000px; */
    /* background-color: aqua; */
    position: relative;
}

.index-one-plan{
    position: relative;
    height: 200px;
    background-color: #fff;
    text-align: center;
    padding-top: 100px;
}

.plan-p-one{
    font-size: 24px;
    font-weight: 600
}

.plan-p-two{
    margin-top: 50px
}

.index-one-details{
    padding: 0 200px;
    height: 700px;
    background-color: rgb(61, 61, 61);
    position: relative;
    text-align: center;
}

.index-details{
    width: 501px;
    height: 700px;
    float: left;
    position: relative;
}

.index-details img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.index-details-course{
    height: 170px;
    width: 350px;
    margin: 50px auto;
    text-align: left;
    background-color: aqua;
    animation-duration: 2s;
    /* animation-delay: .8s */
}

.index-details-course a{
    text-decoration: none;
    color: rgb(190, 184, 184);
    font-size: 20px;
}

.index-one-content{
    height: 170px;
    width: 350px;
    /* margin: 50px auto; */
    /* text-align: left; */
    background-color: rgba(61, 61, 61, 0.7)
}

.index-two{
    position: relative;
}

.index-two-eggimg{
    margin: 10px;
    height: 240px;
    width: 240px;
    margin: 10 auto
    /* background-color: aqua; */
}

.index-two-eggimg img{
    margin: 0 auto;
    width: 240px;
    height: 240px;
}

.index-two-egg-p{
    /* height: 300px; */
    /* width: 500px; */
    /* background-color: crimson; */
    text-align: center;
    margin-top: 20px;
    font-size: 20px; 
    font-weight: 600;
    padding-left: 20px;
    color: #fff;
}

.index-two-egg{
    width: 500px;
    /* height: auto; */
    /* background-color: coral; */
    margin-top: 20px;
    text-align: center;
    padding-left: 30px;
}

.index-two-egg div{
    width: 200px;
    height: 150px;
    margin: 10px;
    /* background-color: black; */
    /* display: inline-block; */
    float: left;
    /* text-align: center */
}

.index-two-detailsone{
    color: #fff;
    display: block;
    font-size: 24px;
    margin-top: 15px
}

.index-two-detailstwo{
    display: block;
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}

.egg-two p{
    text-align: center
}

.two-title{
    margin-top: 20px;
    color: #fff;
    font-size: 36px;
    font-weight: 600
}

table{
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    color: #fff;
}

tr{
    height: 40px;
}

.two-way{
    color: #fff;
    margin-top: 70px;
    font-size: 36px;
    font-weight: 600
}

.two-way-two{
    padding: 0 20px;
    margin-top: 20px;
    color: #fff
}

.index-three-share{
    display: inline-block;
    width: 360px;
    margin: 5px;
    height: 330px;
    /* background-color: aqua; */
    background-size:cover 
}

.index-four-img{
    background-image: url(../images/footer.jpg);
    background-size: cover;
    padding: 0px
}

.index-four-img div{
    height: 700px;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.4)
}

.animation-time{
    animation-duration: 1.5s;
}

#index-one-img{
    animation-duration: 6s;
    /* animation-delay: 1s */
}

.index-three-share:nth-child(1){
    background-image: url(../images/index-three.jpg)
}

.index-three-share:nth-child(2){
    background-image: url(../images/index-three2.jpg)
}

.index-three-share:nth-child(3){
    background-image: url(../images/index-three3.jpg)
}

.index-three-share:nth-child(4){
    background-image: url(../images/index-three4.jpg)
}

.index-three-share:nth-child(5){
    background-image: url(../images/index-three5.jpg)
}

.index-three-share:nth-child(6){
    background-image: url(../images/index-three6.jpg)
}

.index-three-share:nth-child(7){
    background-image: url(../images/index-three7.jpg)
}

.index-three-share:nth-child(8){
    background-image: url(../images/index-three8.jpg)
}

.idnex-one-bg:nth-child(1){
    background-image: url(../images/index-one1.webp);
}

.idnex-one-bg:nth-child(2){
    background-image: url(../images/index-one2.webp);
}

.idnex-one-bg:nth-child(3){
    background-image: url(../images/index-one4.webp);
}

.idnex-two-bg:nth-child(1){
    background-image: url(../images/index-one3.webp)
}

.idnex-two-bg:nth-child(2){
    background-image: url(../images/index-one5.webp)
}

.idnex-two-bg:nth-child(3){
    background-image: url(../images/index-one6.webp)
}
.el-pagination__total{
    margin-left: 440px
}