*{
    padding: 0;
    margin: 0;
}
.layui-nav{
    border-radius: 0;
}

.aside{
    position: absolute;
}
body{
    min-width: 1400px;
    background-color: whitesmoke
}

.main{
    margin-top: 30px;
    margin-left: 220px;
}
.text{
    font-size: 50px;
    color: rgb(92, 92, 92);
    text-align: center;
}
.layui-nav-tree .layui-nav-child a:hover{
    background-color: #009688
}
.hide{
    display: none;
}
.big{
    width: 90px;
}
.flex{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;

}
.card{
    widows: 300px;
    margin-left: 20px;
    margin-top: 15px;
    text-align: center;
    color: #424242;
    position: relative;
    box-shadow: 0px 0px 15px rgba(182, 182, 182, 0.8);
    transition:margin-top 0.5s,box-shadow 0.5s; 
    border: 1px solid rgb(192, 192, 192);
}
.card:hover{
    box-shadow: 0px 6px 18px rgba(149, 149, 149, 0.7);
    margin-top: 10px;
    transition:margin-top 0.5s,box-shadow 0.5s; 
}
.layui-bg-molv{
    background-color: #09887b !important;
}
.layui-bg-cyan{
    background-color: #14534c !important;
}

#head{
    border-radius: 50%;
}
.maintext{
    font-size: 25px;
    margin-top: 10px;  
}
.maintext span{
    color: rgb(109, 108, 108);
}
.panel{
    border: 5px solid rgb(255, 255, 255);
    height: 700px;
    margin-left: 70px;
    min-width: 500px;
    position: relative;
    margin-top: 10px
}
.title{
    font-size: 25px;
    background:linear-gradient(90deg ,#09887b, #10a596);
    color: aliceblue;
    border-radius: 5px;
}
.form{
    width: 68%;
    margin: 50px auto;
}
#container{
    height: 300px;
}
.delcoll{
   position: absolute;
   right: 0;
   opacity: 0;
}
.card:hover .delcoll{
    opacity: 1;
    transition:opacity 1s; 
}
