<% include header.html %>
    <div class="main">
        <div class="flex">
                <%for(let r of reslut)
                {%>
            <div class="card">
                    <button value="<%=r.cid%>" class="layui-btn layui-btn-primary layui-btn-sm delcourse">
                            <i class="layui-icon">&#xe640;</i>
                    </button>
                <a href="/admin/xgcourse?cid=<%=r.cid%>">
                <img width="300px" height="250px" src="<%=r.imgpath%>">
                <div>
                    <p style="font-size:18px">
                        <%=r.name%>
                    </p>
                    <span>
                        器材：<%=r.equipment%>
                    </span>|
                    <span>
                        目的：<%=r.effect%>
                    </span>|
                    <span>
                        锻炼部位：<%=r.position%>
                    </span>
                </div>
            </a>
            </div>
            <%}%>
        </div>       
    </div>
    <% include footer.html %>
        <script>
            $('#all').addClass('layui-this')
            $('.delcourse').click(function () {
                if(!confirm("确定删除该课程吗？")){
                    return;
                }
                $.ajax({
                    url:'/admin/delcourse',
                    data:{cid:$(this).val()},
                    dataType:'JSON',
                    type:'POST',
                    success:function(data){
                        if(data.r=='delsuccess'){
                            window.location.reload()
                        }
                    }
                })
            })
        </script>