<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/coursedetails.css">
    <link rel="stylesheet" href="/css/courseoutline.css">
</head>
<style>
</style>

<body>
    <div id="app">
        <!-- 导航部分 -->
        <nav>
            <el-row>
                <el-col :sm="5" :xs="5">
                    <div class="one nav-header">111</div>
                </el-col>
                <el-col :sm=19 :xs="19">
                    <div class="two nav-header">
                        <ul>
                            <li>
                                <a href="">首页</a>
                            </li>
                            <li>
                                <a href="">精选课程</a>
                            </li>
                            <li>
                                <a href="">饮食推荐</a>
                            </li>
                            <li>
                                <a href="">发现</a>
                            </li>
                            <li>
                                <a href="">个人中心</a>
                            </li>
                            <li>
                                <a href="">注册</a>
                            </li>
                            <li>
                                <a href="">登录</a>
                            </li>
                        </ul>
                    </div>
                </el-col>
            </el-row>
        </nav>

        <!-- 侧边导航栏 -->
        <div class="navigation">
            <div class="seek">
                <input type="text" placeholder="动作库">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
            <!-- 分类 -->
            <div class="classify-equipment">
                <p>器材</p>
                <div class="detailed-equipment">
                    <a href="">哑铃</a>
                </div>
                <div class="detailed-equipment">
                    <a href="">哑铃</a>
                </div>
                <div class="detailed-equipment">
                    <a href="">哑铃</a>
                </div>
                <div class="detailed-equipment">
                    <a href="">哑铃</a>
                </div>
                <div class="detailed-equipment">
                    <a href="">哑铃</a>
                </div>
                <div class="detailed-equipment">
                    <a href="">哑铃</a>
                </div>
            </div>
            <div class="classify-equipment">
                <p>目的</p>
                <div class="detailed-equipment">
                    <a href="">哑铃</a>
                </div>
            </div>
            <div class="classify-equipment">
                <p>部位</p>
                <div class="detailed-equipment">
                    <a href="">哑铃</a>
                </div>
            </div>
        </div>

        <!-- 课程内容 -->
        <div class="particulars">
            <div class="class-diagram">
                <img src="http://www.jianshen8.com/uploads/allimg/170614/4_170614172320_2.gif" alt="">
                <p>111</p>
                <p><span>健身</span><span>123</span></p>
            </div>
            <div class="class-diagram">
                <img src="http://www.jianshen8.com/uploads/allimg/170614/4_170614172320_2.gif" alt="">
                <p>111</p>
                <p><span>健身</span><span>123</span></p>
            </div>
            <div class="class-diagram">
                <img src="http://www.jianshen8.com/uploads/allimg/170614/4_170614172320_2.gif" alt="">
                <p>111</p>
                <p><span>健身</span><span>123</span></p>
            </div>
            <div class="class-diagram">
                <img src="http://www.jianshen8.com/uploads/allimg/170614/4_170614172320_2.gif" alt="">
                <p>111</p>
                <p><span>健身</span><span>123</span></p>
            </div>
            <div class="class-diagram">
                <img src="http://www.jianshen8.com/uploads/allimg/170614/4_170614172320_2.gif" alt="">
                <p>111</p>
                <p><span>健身</span><span>123</span></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                labelPosition: 'top',
                formLabelAlign: {
                    username: '',
                    passwd: '',
                    tel: '',
                    email: ''
                }
            }
        }
    })
</script>

</html>