<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/coursedetails.css">
</head>
<style>
    nav {
        position: relative;
        background-color: black
    }
</style>

<body>
    <div id="app">
        <!-- 导航部分 -->
        <nav>
            <el-row>
                <el-col :sm="5" :xs="5">
                    <div class="one nav-header">111</div>
                </el-col>
                <el-col :sm=19 :xs="19">
                    <div class="two nav-header">
                        <ul>
                            <li>
                                <a href="">首页</a>
                            </li>
                            <li>
                                <a href="">精选课程</a>
                            </li>
                            <li>
                                <a href="">饮食推荐</a>
                            </li>
                            <li>
                                <a href="">发现</a>
                            </li>
                            <li>
                                <a href="">个人中心</a>
                            </li>
                            <li>
                                <a href="">注册</a>
                            </li>
                            <li>
                                <a href="">登录</a>
                            </li>
                        </ul>
                    </div>
                </el-col>
            </el-row>
        </nav>

        <!-- 课程内容模块 -->
        <div class="bg">
            <div class="title">
                <el-row>
                    <el-col :xs="0" :sm="3">
                        <div>&nbsp;</div>
                    </el-col>
                    <el-col :xs="24" :sm="18">
                        <div class="title-one">
                            <h1>
                                <%=result.name%>
                            </h1>
                        </div>
                    </el-col>
                </el-row>
            </div>


            <div class="classify">
                <el-row>
                    <el-col :xs="0" :sm="3">
                        <div>&nbsp;</div>
                    </el-col>
                    <el-col :xs="24" :sm="18">
                        <div class="classify-one">
                            <ul>
                                <li>功能：
                                    <%=result.effect%>
                                </li>
                                <li>部位：
                                    <%=result.position%>
                                </li>
                                <li>器材：
                                    <%=result.equipment%>
                                </li>
                                <li>添加时间：
                                    <%=result.time%>
                                </li>
                                <li id="collect" @click="dj(<%=result.cid%>)">
                                    <i :class="[{'fa-star':isActive, 'fa-star-o': !isActive}, 'fa'] " aria-hidden="true"></i><span>收藏次数：<%=result.collnum%></span>
                                </li>
                            </ul>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
        <div class="details">
            <el-row>
                <el-col :xs="0" :sm="3">
                    <div>&nbsp;</div>
                </el-col>
                <el-col :xs="24" :sm="18">
                    <div class="details-one">
                        <%-result.process%>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div></div>
    </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                labelPosition: 'top',
                isActive: '',
                pd:{
                    isActive: false,
                    cid:''
                },            
            }
        },
        methods: {
            dj: function (e) {
                this.isActive = !this.isActive;
                this.pd.isActive=this.isActive;
                console.log(this.pd.isActive)
                this.pd.cid=e
                axios({
                    method: 'post',
                    url: '/index/collection',
                    data: Qs.stringify(this.pd)
                }).then(response => {
                    if (response.data.r == 'notlogin') {
                        this.$confirm('请登录！！', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            window.location.href = "/login"
                        })
                        this.isActive=false;
                        return;
                    }
                    console.log("sucess...");
                    if (response.data.r == "ok") {
                        if(this.isActive){
                    this.$message({
                    message: '收藏成功',
                    type: 'success'
                });
                }else{
                    this.$message({
                    message: '取消收藏',
                    type: 'warning'
                });
                }
                    }
                }).catch(response => {
                    console.log("fail...")
                })
            },
        },
        mounted:function(){
            let cid=location.search.split('=')
            this.pd.cid=cid[1]
            axios({
                    method: 'post',
                    url: '/index/pdcollec',
                    data: Qs.stringify(this.pd)
                }).then(response => {
                    if(response.data.r=='ok'){
                        this.isActive=true;
                    }
                    console.log(response.data.r);
                }).catch(response => {
                    console.log("fail...")
                })
        },
    })
</script>

</html>