<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发现</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/find.css">
</head>

<body>
    <div id="app">
        <div class="bg">
            <div class="bgone">
            </div>
            <el-row>
                <el-menu default-active="2" class="el-menu-vertical-demo asdie" text-color="#fff" active-text-color="#ffd04b">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>导航一</span>
                        </template>
                        <el-menu-item-group>
                            <template slot="title">分组一</template>
                            <el-menu-item index="1-1">选项1</el-menu-item>
                            <el-menu-item index="1-2">选项2</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="分组2">
                            <el-menu-item index="1-3">选项3</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="1-4">
                            <template slot="title">选项4</template>
                            <el-menu-item index="1-4-1">选项1</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="2">
                        <i class="el-icon-menu"></i>
                        <span slot="title">导航二</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-document"></i>
                        <span slot="title">导航三</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-setting"></i>
                        <span slot="title">导航四</span>
                    </el-menu-item>
                    <img id="add" @click="dialogVisible = true" width="100px" src="/images/add.png">

                </el-menu>
                <el-col :span="19" :offset="4">
                    <div class="grid-content bg-purple-light">
                        <p style="font-size:35px;color: rgb(251, 251, 251);margin-top: 20px;margin-bottom: 20px">发现更美好的自己</p>
                        <hr>
                        <div id="main">

                            <%for(let r of result)
                                {%>
                                <div class="card">
                                    <img width="100%" height="100%" src="<%=r.mainpic%>">
                                    <div class="findmain">
                                        <p class="textfind"><%=r.content%></p>
                                        <p class="footer footerfont">
                                            <span>发布者：<%=r.username%></span>
                                            <span>时间：<%=r.times.getFullYear() + '-' + (r.times.getMonth() + 1) + '-' + r.times.getDate() + ' ' + r.times.getHours() + ':' + r.times.getMinutes() + ':' + r.times.getSeconds();  %></span>
                                            <i value="<%=r.fid%>" @click="openwindow" class="savefid el-icon-tickets"></i>
                                        </p>
                                    </div>
                                </div>
                                <%}%>
                        </div>

                    </div>
                </el-col>
            </el-row>

        </div>
        <!-- 发布发现 -->

        <el-dialog title="发布" :visible.sync="dialogVisible" width="40%">
            <el-form :model="form" :rules="rules" ref="form" label-width="100px" class="demo-ruleForm">
                <el-form-item class="uppicfind" label="上传图片">
                    <div>
                        <el-upload name="editimages" class="avatar-uploader" action="/upload" :show-file-list="false" :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                            <img v-if="form.imageUrl" :src="form.imageUrl" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </div>
                </el-form-item>
                <el-form-item label="内容" prop="desc">
                    <el-input type="textarea" rows="4" v-model="form.desc"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="fabu" type="primary">立即发布</el-button>
                    <el-button @click="dialogVisible = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- 评论页面 -->
        <el-dialog :visible.sync="open" width="40%">
            <div>
                <p class="footer texttitlle">
                    <span >发布者：{{commen.username}}</span>
                    <span >时间：{{commen.time}}</span>
                </p>
                <el-row :gutter="20">
                    <el-col :span="14">
                        <div class="">
                            <img width="100%" height="250px" v-bind:src="commen.mainpic">
                        </div>
                    </el-col>
                    <el-col :span="10">
                        <div class="">
                            <p style="height:250px" class="comment">
                                {{commen.content}}
                            </p>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <hr>
            <p style="border-left:3px solid rgb(255, 151, 53);margin: 5px 0;padding-left: 5px">评论列表</p>

            <div style="max-height:310px;overflow:auto">
                <div v-if="commen.comall[0].header" v-for="all in commen.comall">
                <el-row>
                    <el-col :span="4">
                        <p style="width:60px;text-align:center">{{all.commentator}}</p>
                        <img width="60px" height="60px" style="border-radius:50%" v-bind:src="all.header" alt="">
                        <p style="width:60px;text-align:center">{{all.daten}}</p>
                    </el-col>
                    <el-col :span="20" class="commentbox">
                        <p class="commenttext">{{all.commen}}</p>
                    </el-col>
                </el-row>
                <hr>
             </div>
             <div v-else>这里空空如也！快来抢占沙发吧！</div>
            </div>

            <el-form title="评论详情" :model="formcomment" :rules="rules" ref="formcomment" label-width="80px" class="demo-ruleForm">
                <el-form-item label="我的看法" prop="desc">
                    <el-input type="textarea" rows="2" v-model="formcomment.comment"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="commented" type="primary">发表评论</el-button>
                    <el-button @click="open = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-di
        alog>
    </div>


</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script>
    window.onload = function () {
        $('.bg').css('height', $(document).height());
        $('.bgone').css('height', $(document).height());
        window.onresize = function () {
            $('.bg').css('height', $(document).height());
            $('.bgone').css('height', $(document).height())
        };
        var pd = false;
        var pa = false;
        $('#main').scroll(function () {
            console.log("pd" + ":" + pd, "pa" + ":" + pa)
            if ($('#main').scrollTop() > 200) {
                if ($('.bgone').css('opacity') == 0) {
                    $('.bgone').animate({
                        'opacity': '1'
                    }, 300);
                }
            }
            if ($('#main').scrollTop() < 200) {
                if ($('.bgone').css('opacity') == 1) {
                    $('.bgone').animate({
                        'opacity': '0'
                    }, 300);
                }
            }
        })
    };
    new Vue({
        data: {
            isCollapse: true,
            dialogVisible: false,
            open: false,
            commen:{
                username:'',
                time:'',
                mainpic:'',
                content:'',
                comall:''
            },
            formcomment: {
                comment: '',
                fid2:''
            },
            fidd:{
                fid:''
            },
            form: {
                desc: '',
                imageUrl: ''
            },
            rules: {
                desc: [{
                    required: true,
                    message: '请输入内容',
                    trigger: 'blur'
                }]
            }
        },
        methods: {
            openwindow:function(e){
                this.open=true;
                this.fidd.fid= e.target.getAttribute('value')
                axios({
                    method:'post',
                    url:'/index/comment',
                    data:Qs.stringify(this.fidd)                   
                }).then(response=>{
                    this.commen.username=response.data.data[0].username;
                    this.commen.time=response.data.data[0].times;
                    this.commen.mainpic=response.data.data[0].mainpic;
                    this.commen.content=response.data.data[0].content;
                    this.commen.comall=response.data.data
                }).catch(response => {
                    console.log("fail...")
                })
            },
            commented:function(){
                if(!this.formcomment.comment){
                    this.$message.error('请输入内容');
                    return;
                }
                this.formcomment.fid2=this.fidd.fid;
                axios({
                    method:'post',
                    url:'/index/commented',
                    data: Qs.stringify(this.formcomment)
                }).then(response => {
                    if (response.data.r == 'notlogin') {
                        this.$confirm('请登录后在发表评论！！', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            window.location.href = "/login"
                        })
                        return;
                    }      
                    console.log("sucess...");
                    if(response.data.r=="ok"){
                        this.commen.comall=response.data.data;
                        this.$refs.formcomment.resetFields(); 
                        this.formcomment.comment=''       
                    }
                }).catch(response => {
                    console.log("fail...")
                })
            },
            fabu: function () {
                console.log(this.result)
                if (!this.form.imageUrl) {
                    this.$message.error('请上传图片');
                    return;
                }
                if (!this.form.desc) {
                    this.$message.error('请输入内容');
                    return;
                }
                axios({
                    method: "post",
                    url: "/index/fabu",
                    data: Qs.stringify(this.form)
                }).then(response => {
                    if (response.data.r == 'notlogin') {
                        this.$confirm('请登录后在发布！！', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            window.location.href = "/login"
                        })
                        return;
                    }
                    if (response.data.r == "ok") {
                        window.location.reload();
                    }
                    console.log("sucess...");
                }).catch(response => {
                    console.log("fail...")
                })

            },
            uppic: function () {},
            handleAvatarSuccess(res, file) {
                if (res.data[0]) {
                    this.form.imageUrl = res.data[0];
                }
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }

        }
    }).$mount('#app')
</script>

</html>