<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue 属性</title>
        <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    </head>
	<body>
		<div id="app">
 			修改颜色：<input type="checkbox" v-model="change"><br><br>
  			<div v-bind:class="{'newClass': change}">v-bind:class</div>
		</div>

	</body>
    <script>
		new Vue({
			el: '#app',
  			data:{
  				change: false    //false表示没有勾选，true表示勾选上
  			}
		});
	</script>
    <style>
    	.newClass{
     	 	background: #444;
     	 	color: #eee;
		}
	</style>
</html>