<% include top.html %>
        <div class="layui-row main">
                <div class="layui-col-sm3 layui-col-xs3">
                        <img id="head" width="250px" height="250px" src="<%=result.header? result.header:'/images/none.jpg'%>">
                </div>
                <div class="layui-col-sm8 layui-col-xs8">
                        <span style="font-size:45px;">
                                <%=result.username%>
                                        <img style="margin-left:20px" width="50px" src="<%=result.sex==1 ? '/images/man.png':'/images/women.png'%>">
                        </span>
                        <div class="maintext">
                                <p>体重：
                                        <span>
                                                <%=result.weight==0? '保密':result.weight%>
                                        </span>&nbsp;KG/千克
                                </p>
                                <p>
                                        身高：
                                        <span>
                                                <%=result.height==0? '保密':result.height%>
                                        </span>&nbsp;CM/厘米
                                </p>
                                <p>
                                        年龄：
                                        <span>
                                                <%=result.age==0? '保密':result.age%>
                                        </span>&nbsp;岁
                                </p>
                        </div>
                        <hr>
                        <p style="font-size:30px">个人简介：</p>
                        <div class="maintext">
                                <span>
                                        <%=result.info%>阿斯加德风口浪尖阿圣诞节快乐发生的进口量发生的离开就发上来的境况放开了大事件分撒大家卡拉松岛枫两家看电视加快了发生</span>
                        </div>

                </div>
                <hr>
                <div class="layui-row">
                        <div class="layui-col-sm4">
                                <form class="layui-form layui-form-pane">
                                        <div class="layui-form-item">
                                                <label class="layui-form-label">当前体重</label>
                                                <div class="layui-input-inline">
                                                        <input type="number" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">千克</div>
                                        </div>
                                        <div class="layui-form-item">
                                                <label class="layui-form-label">目标体重</label>
                                                <div class="layui-input-inline">
                                                        <input type="number" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">千克</div>
                                        </div>
                                        <div class="layui-form-item">
                                                <label class="layui-form-label">计划天数</label>
                                                <div class="layui-input-inline">
                                                        <input type="number" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">天</div>
                                        </div>
                                        <div class="layui-form-item">
                                                <label class="layui-form-label">锻炼时长</label>
                                                <div class="layui-input-inline">
                                                        <input type="time" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                                </div>
                                        </div>

                                        <div class="layui-form-item">
                                                <div class="layui-input-block">
                                                        <button class="layui-btn" lay-submit lay-filter="formDemo">打卡</button>
                                                </div>
                                        </div>
                                </form>

                        </div>
                        <div class="layui-col-sm4">
                                        <div id="container"></div>
                        </div>
                        <div class="layui-col-sm4">

                        </div>
                </div>
        </div>
        <% include bottom.html %>
                <script>
                        $('#title').addClass('layui-this')
                </script>
                       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
                       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
                       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
                       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
                       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
                       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
                       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
                       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
                       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
                       <script type="text/javascript">
                var dom = document.getElementById("container");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                option = {
                    xAxis: {
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [820, 932, 901, 934, 1290, 1330, 1320],
                        type: 'line'
                    }]
                };
                ;
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                       </script>